body {
    background-color: lightblue;
    background-image: url("../images/photo-1534190760961-74e8c1c5c3da.jpg")
}

header {
    background-color: transparent;
    height: 70px;
}

main {
    margin-top: 500px;
    background-color: white;
}

nav {
    float: right;
    padding-top: 2px;
}

.logo {
    padding-top: 2px;
    float:left;
    width: 450px;
}