body {
    background-color: lightblue;
    background-image: url("../images/photo-1534190760961-74e8c1c5c3da.jpg")
}

header {
    background-color: transparent;
    height: 70px;
}

main {
    margin-top: 500px;
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    float: right;
    padding-top: 30px;
}

.logo {
    margin-left: 35px;
    float:left;
}