/* header styles */
h1 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    border-top: 1.5px solid black;
    opacity: 0.6;
}

/* anchors and links */
a {
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: overline;
}

/* paragraphs */

p {
    font-family: 'Montserrat';
    font-size: 13px;
}
